<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url();">
  <div class="container">
    <h1><strong>The evolution </strong> of real state <strong>inspections and appraisals</strong></h1>
    <p> Up to date photos and property details in a matter of hours</p>
    <a class="btn btn-flat" href="http://localhost:3000/orders">Order now</a>
  </div>
</div>
