.navbar-lewagon {
  justify-content: space-between;
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  display: flex;
  height: 70px;
  padding: 0 30px;
  align-items: center;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


.navbar-home {
  position: absolute;
  width: 100%;
  background: transparent;
  box-shadow: none;
  color: white;
  background: transparent;
  box-shadow: none;
  position: absolute;
  width: 100%;
  .navbar-wagon-link {
    color: white;
    font-weight: bold;
  }
}

.nav-link {
  color: white;
  font-size: 18px;
  &:hover {
    color: #2A9057;
    text-decoration: none;
  }
}